*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(79, 98, 47);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: pink;
    gap: 80px;
}
.nav-one{
    display: flex;
}
.nav-one h1{
    font-size: 16px;
    color: white;
}
.nav-onee ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.nav-onee ul li{
    list-style-type: none;
    color: rgba(64, 61, 61, 0.7);
    cursor: pointer;
}
.nav-onee ul li:hover{
    color: white;
    cursor: pointer;
}
.nav-two a{
    text-decoration: none;
    padding: 7px;
    color: rgba(0,0,0,0.7);
    transition: 0.3 ease;
}
.nav-two a:hover{
    color: white;
}
.nav-two .btn{
    width: 80px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 40px;
}
.nav-two .btn:hover{
    background-color: gray;
    opacity: 1;
}
.nav-two .btn a{
    color: rgba(0,0,0,0.7);
    text-decoration: none;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 130px auto;
}
.hero h2{
    font-size: 68px;
    color: white;
}
.hero p{
    font-size: 24px;
    color: white;
}
.hero-btn{
    display: flex;
    gap: 20px;
}
.hero-btnn{
    width: 100px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 30px;
}
.hero-btnn a {
    color: black;
    text-decoration: none;
}
.hero-btnnn{
    width: 100px;
    height: 30px;
    background-color: gray;
    border: none;
    border-radius: 30px; 
}
.hero-btnnn a{
    color: white;
    text-decoration: none;
}